*.xcuserstate

Langs.xcodeproj/project.xcworkspace/xcuserdata/Can.xcuserdatad/UserInterfaceState.xcuserstate
Langs.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
Langs.xcodeproj/project.xcworkspace/xcuserdata/BoyangTian.xcuserdatad/UserInterfaceState.xcuserstate
Langs.xcodeproj/project.xcworkspace/xcuserdata/VW.xcuserdatad/UserInterfaceState.xcuserstate
Langs.xcodeproj/project.xcworkspace/xcuserdata/Can.xcuserdatad/UserInterfaceState.xcuserstate
Langs.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate

Langs.xcodeproj/xcuserdata/apple.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
