
*.xcuserstate

Langs.xcodeproj/project.xcworkspace/xcuserdata/Can.xcuserdatad/UserInterfaceState.xcuserstate
Langs.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
