<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>14</key>
	<dict>
		<key>bar</key>
		<integer>5200</integer>
		<key>final</key>
		<string>volans</string>
		<key>hint</key>
		<string>volans-hint</string>
	</dict>
	<key>13</key>
	<dict>
		<key>bar</key>
		<integer>4800</integer>
		<key>hint</key>
		<string>pisces-hint</string>
		<key>final</key>
		<string>pisces</string>
	</dict>
	<key>12</key>
	<dict>
		<key>bar</key>
		<integer>4400</integer>
		<key>hint</key>
		<string>aquarius-hint</string>
		<key>final</key>
		<string>aquarius</string>
	</dict>
	<key>11</key>
	<dict>
		<key>bar</key>
		<integer>4000</integer>
		<key>hint</key>
		<string>capricornus-hint</string>
		<key>final</key>
		<string>capricornus</string>
	</dict>
	<key>10</key>
	<dict>
		<key>bar</key>
		<real>3600</real>
		<key>hint</key>
		<string>scorpius-hint</string>
		<key>final</key>
		<string>scorpius</string>
	</dict>
	<key>9</key>
	<dict>
		<key>bar</key>
		<integer>3200</integer>
		<key>hint</key>
		<string>libra-hint</string>
		<key>final</key>
		<string>libra</string>
	</dict>
	<key>1</key>
	<dict>
		<key>bar</key>
		<integer>0</integer>
		<key>hint</key>
		<string>big dipper</string>
		<key>final</key>
		<string>ursa-major</string>
	</dict>
	<key>2</key>
	<dict>
		<key>bar</key>
		<integer>400</integer>
		<key>hint</key>
		<string>ursa minor</string>
		<key>final</key>
		<string>ursa-minor</string>
	</dict>
	<key>3</key>
	<dict>
		<key>bar</key>
		<integer>800</integer>
		<key>hint</key>
		<string>aries-hint</string>
		<key>final</key>
		<string>aries</string>
	</dict>
	<key>4</key>
	<dict>
		<key>bar</key>
		<integer>1200</integer>
		<key>hint</key>
		<string>taurus-hint2</string>
		<key>final</key>
		<string>taurus</string>
	</dict>
	<key>5</key>
	<dict>
		<key>bar</key>
		<integer>1600</integer>
		<key>hint</key>
		<string>gemini-hint2</string>
		<key>final</key>
		<string>gemini</string>
	</dict>
	<key>6</key>
	<dict>
		<key>bar</key>
		<integer>2000</integer>
		<key>hint</key>
		<string>cancer-hint</string>
		<key>final</key>
		<string>cancer</string>
	</dict>
	<key>7</key>
	<dict>
		<key>bar</key>
		<integer>2400</integer>
		<key>hint</key>
		<string>leo-hint</string>
		<key>final</key>
		<string>leo</string>
	</dict>
	<key>8</key>
	<dict>
		<key>bar</key>
		<integer>2800</integer>
		<key>hint</key>
		<string>virgo-hint</string>
		<key>final</key>
		<string>virgo</string>
	</dict>
</dict>
</plist>
